<div class="panel panel-default">

    <!-- Default panel contents -->
    <div class="panel-heading">
        <div class="row">
            <div class="col-xs-6">
                <h2 style="display:inline; margin-top:10px;">Contacts</h2>                
            </div>
            <div class="col-xs-6">
                <button class="btn btn-success .pull-right" style="margin-left:40%; margin-right:0;">New contact</button>
            </div>
        </div>
    </div>

    <div class="panel panel-default" style="margin: 15px 25px;">

        <!-- List group -->
        <ul class="list-group" *ngFor="let contactEl of contacts; let i =index">
            <li class="list-group-item" (click)="onSelectContact(contactEl)">
                <div class="media">
                    <div class="media-body">
                        <h4 class="media-heading">Bro. {{contactEl.name}}</h4>
                    </div>
                    <div class="media-right">
                      <a href="#">
                        <img class="media-object" style="max-height:50px;" src="{{contactEl.imageUrl}}" alt="{{contactEl.name}}">
                      </a>
                    </div>
                </div>
            </li>
        </ul>
      
    </div>

</div>
      

