<div class="panel panel-default">

    <!-- Default panel contents -->
    <div class="row">
        <div class="col-xs-12">
          <div class="panel panel-default">
            <div class="panel-heading" style="padding: 15px 25px;">
              <div class="row">
                <span class="title pad-left-right">Contacts</span>
              </div>
              <div class="row">
                <div class="input-group pull-left pad-left-right col-xs-7">
                  <input class="form-control" type="text" placeholder="Enter a search value" #searchBox (keyup)="search(searchBox.value)"/>
                  <div class="glyphicon glyphicon-search input-group-addon" (click)="search(searchBox.value)"></div>
                </div>
                <div class="pull-right pad-left-right">
                  <a class="btn btn-success" [routerLink]="['new']">New Contact</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    <div class="panel panel-default" style="margin: 15px 25px;">

        <!-- List group -->
        <!-- Here we see a parent component passing data down to its children effortlessly through the html template -->
        <!-- You need to use special decorators in the component.ts file to access data from child to parent or between sibling components -->
        <!-- CHild to parent uses @ViewChild while between siblings uses @ -->
        <ul class="list-group" >
            <cms-contact-item 
                *ngFor="let contact of contacts | contactsFilter: term"
                [contact]="contact" 
                dnd-draggable [dragEnabled]="true" [dragData]="contact" [dropZones]="['contactGroup']"
            >{{ term }}</cms-contact-item>
        </ul>
      
    </div>

</div>
      

