<div class="panel panel-default">

    <!-- Default panel contents -->
    <div class="panel-heading">
        <div class="row">
            <div class="col-xs-6">
                <h2 style="display:inline; margin-top:10px;">Contacts</h2>                
            </div>
            <div class="col-xs-6">
                <button 
                    class="btn btn-success .pull-right" 
                    style="margin-left:40%; margin-right:0;"
                    routerLink="new"
                    >New contact</button>
            </div>
        </div>
    </div>

    <div class="panel panel-default" style="margin: 15px 25px;">

        <!-- List group -->
        <!-- Here we see a parent component passing data down to its children effortlessly through the html template -->
        <!-- You need to use special decorators in the component.ts file to access data from child to parent or between sibling components -->
        <!-- CHild to parent uses @ViewChild while between siblings uses @ -->
        <ul class="list-group" >
            <cms-contact-item 
                *ngFor="let contact of contacts;"
                [contact]="contact" 
                dnd-draggable [dragEnabled]="true" [dragData]="contact" [dropZones]="['contactGroup']"
            ></cms-contact-item>
        </ul>
      
    </div>

</div>
      

