<div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading">
        <div class="row">
            <div class="col-xs-12">
                <h2>{{contact.name}}</h2>                
            </div>
        </div>
        <div class="row">
            <div class="col-xs-6">
                <img class="media-object" style="max-height:80px;" src="{{contact.imageUrl}}" alt="{{contact.name}}" >                
            </div>
            <div class="col-xs-3">
                <a 
                    class="btn btn-primary .pull-right" 
                    style="margin:25px 0 5px 40%; cursor:pointer;"
                    [routerLink]="['/contacts', contact.id, 'edit']"
                    >Edit</a>
            </div>
            <div class="col-xs-3">
                <button 
                    class="btn btn-danger .pull-right" 
                    style="margin:25px 0 5px 0;"
                    (click)="deleteContact()"
                    >Delete</button>
            </div>
        </div>
    </div>
    <!-- List group -->
    <ul class="list-group">
        <li class="list-group-item"><strong>Email:</strong> {{contact.email}} </li>
        <li class="list-group-item"><strong>Phone:</strong> {{contact.phone}} </li>
    </ul>
    <ul class="list-group" >
        <cms-contact-item 
            *ngFor="let groupedContact of contact.group;"
            [contact]="groupedContact" 
        ></cms-contact-item>
    </ul>
</div>
