<div class="row">
    <div class="col-xs-12 col-sm-4">
      <div class="list-group">
        <!------------------------------- [routerLink] ----------------------------------->
        <!-- [routerlink] specifies what will be written in the url of the current path -->
        <!-- It takes path array excluding root: "root/[0]/[1]". Path -->
        <!-- has to already be defined in app.module.ts file -->

        <!------------------------------- [queryParams] ----------------------------------->
        <!-- When you seek to add key value pair query string to url wqe use [queryParams] -->
        <!-- Ues: [queryParams] = {key1: 'value1', key2: 'value2', ...} -->

        <!------------------------------- fragment ----------------------------------->
        <!-- We use this to add a fragment to our url which has a hash at the begining -->
        <!-- Ues: fragment = 'value' -->

        <a
          [routerLink]="['/servers', server.id]"
          [queryParams]="{allowEdit: server.id===3? '1':'0'}"
          fragment="Loading"
          href="#"
          class="list-group-item"
          *ngFor="let server of servers">
          {{ server.name }}
        </a>
      </div>
    </div>
    <div class="col-xs-12 col-sm-4">
      
      <!-- this router-outlet element is found within the servers.component.html -->
      <!-- It holds all the html content of the components that use routing and --> 
      <!-- are child routes of servers route as defined in the app.module.ts file-->
      <router-outlet></router-outlet>

      <!-- <app-edit-server></app-edit-server>
      <hr>
      <app-server></app-server>
      <button class="btn btn-primary" (click)="onAnotherGotoServers()">Go to Servers</button> -->
    </div>
  </div>
  
  