<div class="row">
    <div class="col-xs-12">
        <button class="btn btn-success">New Recipe</button>
    </div>
</div>
<hr/>
<div class="row">
    <!-- Pay attention that we used input in recipe-item.ts to get [recipe] here -->
    <!-- For that reason, recipe is available in recipe-list.html, and the data -->
    <!-- The data in recipeEl is loaded to recipe and sent to recipe-item.html -->
    <!-- Using *ngFor to obtain each object and property binding to load each item -->
    <div class="col-xs-12"> 
        <app-recipe-item 
            *ngFor="let recipeEl of recipes; let i =index"
            [recipe]="recipeEl"
            >
        </app-recipe-item>
    </div>
</div>
