<p>server with id {{serverId}} is {{serverStatus}} with error code: {{getErrorCode()}}</p>

<!-- Data-binding Assingment -->

<input 
    type="text" 
    class="form-control" 
    [(ngModel)]="userName"
/>

<p>User Name:<strong> {{userName}}</strong></p>

<!-- Here we disable the button when value of user name is empty / (userName === '') returns true -->
<!-- When the value of userName is not empty, clicking the button will revert the value to '' / empty -->
<button 
    class="btn btn-danger" 
    [disabled]="userName === ''"
    (click)="userName =''">
    Reset User
</button>