
<!-- This input form uses data binding and event binding to change the value of an attribute in .component.ts file -->
<!-- The value of the attribute in the .component.ts file is then displayed in this template using string interpolation -->
<label>Server Name</label>
<!-- Longer/harder two way binding-->
<!-- <input 
    type="text" 
    class="form-control" 
    (input)="onUpdateServerName($event)"
/> -->

<!-- Easier two way binding using ng directive: This needs no onInput event fn, but changes the attr value in the  -->
<!-- .component.ts file as well as populate the input with the attr value in the opposite direction -->
<input 
    type="text" 
    class="form-control" 
    [(ngModel)]="serverName"
/>

<!-- Property binding needs no brackets or braces, just the property name -->
<!-- Here the attribute disabled is changed dynamically in the .components.ts file -->
<!-- We can't use data binding as value for attribute, it'll break the code: [disabled]="{{allowNewServer}} is not allowed" -->
<!-- We use () for event binding as in the example below: (click)="fn name()" -->
<button 
    class="btn btn-primary" 
    [disabled]="!allowNewServer"
    (click)="onCreateServer()">
    Add Server
</button>

<!-- start ahead of ngIf tell us this is a structural directive that changes the dom -->
<!-- the ngIf directive allows us to use an if statement to show the element, otherwise it shows the element with the marker listed -->
<p  *ngIf="serverCreated; else noServer">{{serverCreationStatus}}</p> 

<!-- marker inside the Angular ng-template tag. This is the marker and template that holds the element we'd like to display in else -->
<ng-template #noServer>
    <p>No server created!</p>
</ng-template>

<!-- Assignment Start ------------------------------------------------------------------------------------------->

<button 
    class="btn btn-warning" 
    (click)="onShowDetails()">
    {{toggleDetails}}
</button>

<!-- start ahead of ngIf tell us this is a structural directive that changes the dom -->
<!-- the ngIf directive allows us to use an if statement to show the element, otherwise it shows the element with the marker listed -->
<p  *ngIf="showDetails; else hideDetails">{{information}}</p> 

<!-- marker inside the Angular ng-template tag. This is the marker and template that holds the element we'd like to display in else -->
<ng-template #hideDetails>
    <p></p>
</ng-template>

<p  
    *ngFor="let detail of details; let i =index"
    [ngStyle]="{backgroundColor: i>=4? 'blue':'white'}"
    [ngClass]="{white: i>=4}"
>
    {{detail}}
</p>

<!-- Assignment End --------------------------------------------------------------------------------------------->


<!-- ngFor is a structural directive(can add or remove elements). -->
<!-- the element with the ngFor directive will be repeated for the defined number of times. -->
<app-server *ngFor="let server of servers"></app-server> 
<!--The html line aboce just injects the server htmlteplate into this template. -->

