<!-- This is the template file for the current component -->
<!-- It is injected inside the element with the name specified in the string value of 'selector' key -->
<!-- within the component.ts file inside the 'component' object. That string specifies an element-->
<!-- inside src/index.html file in which the template will be injected -->

<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h3>I'm passed into app component!</h3>
            <hr/>
            <app-servers></app-servers>
            <!--<app-warning-alert></app-warning-alert>-->
        </div>
    </div>
</div>
