<div class="row">
    <div class="col-md-5"><!-- Using a method could have worked, but since we only want to assign value of $event(recipe element being propagated) this way is better/simpler -->
        <app-recipe-list
            (recipeLinkEmitioncCaught)="recipeSelected = $event"
        ></app-recipe-list>
    </div>
    <div class="col-md-7">
        <app-recipe-detail
        *ngIf="recipeSelected; else infoText"
        [recipe]="recipeSelected"
        >
        </app-recipe-detail>
        <!-- WIll be displayed as ref to else statement above only -->
        <ng-template #infoText>
            <p>Please select a recipe</p>
        </ng-template>
        
    </div>
</div>