<!-- 
<div class='container'>
    <div class="row">
        <div class="col-xs-12 footer-top-block"> <a class='bootom-to-top text-center' href='#'>Back to top</a></div>
    </div>
</div>

<div class='container'>
    <div class="row">
        <div class="col-xs-3 mt-3">
            <h5>Company</h5>
            <ul class="list-unstyled text-small">
                <li><a class="link-secondary" href="#">About us</a></li>
                <li><a class="link-secondary" href="#">Shop</a></li> 
                <li><a class="link-secondary" href="#">Investor relations</a></li>
                <li><a class="link-secondary" href="#">Careers</a></li> 
            </ul>
        </div>
        <div class="col-xs-3 mt-3">
            <h5>Account</h5>
            <ul class="list-unstyled text-small">
                <li><a class="link-secondary" href="#">Your account</a></li>
                <li><a class="link-secondary" href="#">Change address</a></li>
                <li><a class="link-secondary" href="#">View orders</a></li>
                <li><a class="link-secondary" href="#">Track order</a></li> 
            </ul>
        </div>
        <div class="col-xs-3 mt-3">
            <h5>Help</h5>
            <ul class="list-unstyled text-small">
                <li><a class="link-secondary" href="#">Help</a></li>
                <li><a class="link-secondary" href="#">Returns</a></li>
                
                <li><a class="link-secondary" href="#">Blog</a></li>
                <li><a class="link-secondary" href="#">Contact us</a></li>
            </ul>
        </div>
        <div class="col-xs-3 mt-3">
            <h5>Resources</h5>
            <ul class="list-unstyled text-small">
                <li><a class="link-secondary" href="#">Returns Policy</a></li>
                <li><a class="link-secondary" href="#">Terms of Use</a></li>
                <li><a class="link-secondary" href="#">Privacy Policy</a></li>
                <li><a class="link-secondary" href="#">FAQ</a></li>
            </ul>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-xs-12 text-center mb-5">Copyright &copy; 2022 Angular Ingredients Shop LLC.  All rights reserved. | Developed and Managed by <a target="blank" href="https://facebook.com/mthunzi.mavuma" title="View Developer">Mtunzi Steven Mavuma</a></div>
    </div>
</div> -->
